
{% extends "layout/base.html" %}
{% load socialaccount %}
{% providers_media_js %}
{% block 'styles' %}
{% load static %}
<link rel="stylesheet" href="{% static "css/estilo_login.css" %}">
{% endblock 'styles' %}
{% block 'titulo' %}Iniciar Secion{% endblock 'titulo' %}

{% block 'contenido_main' %}
<div class="wrapper">
    <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
    </div>
    <div class="text-center mt-4 name">
        Usuario
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email" name="userName" id="userName" placeholder="Correo electronico">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Contraseña">
        </div>
        

        <button class="btn mt-3">Iniciar secion</button>
        <button class="btngoogle mt-3">Iniciar con Google</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">olvidate la contraseña?</a> ó <a href="{% url "registro" %}">Registrarse</a>
    </div>
</div>
{% endblock 'contenido_main' %}
