:root {
  --textbox-size: 60px;
  --primary: #11998e;
  --secondary: #38ef7d;
  --white: #fff;
  --gray: #9b9b9b;
}

/* Navbar */
#mainNav {
  background-color: #6b756d;
  position: fixed;
  width: 100%;
  height: 8%;
}

#mainNav.navbar-shrink .navbar-brand,
#mainNav.navbar-shrink .nav-link {
  color: aliceblue;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: white;
}

.navbar li {
  margin: 10px;
  text-align: center;
  font-size: 25px;
}

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.text-center {
  color: white;
}
.navbar-brand img {
  max-width: 100%;  
  height: auto;
}
@media (max-width: 900px) and (min-width: 320px) {
  
  #mainNav {
    position: fixed;
    width: 100%;
    height: 8%;
  }
  
  .navbar .nav-item a {
    font-size: 20px; 
  }
  .navbar .bi-person-circle {
    width: 30px; 
    height: 30px; 
  }
  .navbar-brand img {
    width: 40px; 
    height: 40px; 
  }
}

/* Ventana flotante */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 700px;
  height: 500px;
  position: relative;
}

.modal-content h1{
  text-align: center;
  font-style: italic;
}

.close {
  font-size: 26px; /* Ajusta esto al tamaño que prefieras */
  color: rgb(119, 110, 110);
}

.close:hover {
  color: rgb(228, 0, 0); 
}


.modal-content p{
  font-size: 18px;
margin: auto 30px;
}



.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#guardar {
  background-color: #8eaade;
  color: white;
  float: right;
}

#guardar:hover{
  background-color: #5686df;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 90%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 1.5rem;
  color: var(--gray);
  padding: 10px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.5rem;
  color: var(--gray);
}

.form__field--has-value ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--primary);
  font-weight:700;    
}
@media only screen and (max-width: 600px) {
  .modal-content {
    width: 90%;
    height: auto; /* Cambia esto a 'auto' para que el contenido defina la altura */
    max-height: 80vh; /* Ajusta esto al porcentaje de la altura de la pantalla que prefieras */
    overflow-y: auto; /* Añade desplazamiento si el contenido es más alto que 'max-height' */
  }
  .form__label {
    font-size: .5rem;
  }
}






/* Chat */
.title-chat-container {
  position: absolute;
  left: 0;
  top: 8%;
  width: 100%;
  height: calc(92% - 60px);
  color: white !important;
  background-color: #333;
}

.header h1 {
  text-align: center;
}

.full-chat-block {
  height: calc(100vh - 60px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  overflow: auto;
  scrollbar-width: none;
}

.outer-container {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.userText span,
.botText span {
  line-height: 1.5em;
  display: inline-block;
  padding: 10px;
  margin-bottom: var(--textbox-size);
}
.botText .edit-link {
  position: absolute;
  bottom: 0; 
  right: 74%; 
  border: 2px solid #ffffff; /* Añade un borde */
  color: #ffffff; /* Cambia el color del texto */
  background-color: rgb(225,192,140); /* Añade un color de fondo */
  padding: 6px 16px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 20px; 
  cursor: pointer; 
  z-index: 1; 
  margin: 2rem auto;
  border-radius: 10px; /* Añade bordes redondeados */
  box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Añade una sombra */
}

.botText .pdf-button {
  position: absolute;
  bottom: 0; 
  right: 80%; /* Ajusta la posición a la derecha para que esté al lado del botón "Editar" */
  border: 2px solid #ffffff; /* Añade un borde */
  color: #ffffff; /* Cambia el color del texto */
  background-color: rgb(255,0,0); /* Añade un color de fondo rojo */
  padding: 6px 16px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 20px; 
  cursor: pointer; 
  z-index: 1; 
  margin: 2rem auto;
  border-radius: 10px; /* Añade bordes redondeados */
  box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Añade una sombra */
}



.botText .edit-link:hover {
  background-color: #dad003; /* Cambia el color de fondo cuando se pasa el cursor por encima */
}

.botText .edit-link:active {
  background-color: #d9d9d9; /* Cambia el color de fondo cuando se hace clic en el botón */
}




.chat-container {
  height: calc(90% - var(--textbox-size));
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  scroll-behavior: smooth;
  hyphens: auto;
  overflow-y: auto;
  padding-bottom: var(--textbox-size);
}

.chat-container::-webkit-scrollbar {
  display: none;
}

.chat-bar-input-block {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 10px 0px 10px 10px;
  z-index: 1;
}

.chat-bar-icons {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 25%;
  float: right;
  font-size: 20px;
}

#chat-icon:hover {
  opacity: .7;
}

#userInput {
  width: 75%;
}

.input-box {
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  color: #000000;
  background-color: white;
  outline: none;
  max-height: 100px;
  resize: none;
}

.userText {
  color: white;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  text-align: right;
  clear: both;
}

.userText span {
  line-height: 1.5em;
  display: inline-block;
  background: #5ca6fa;
  padding: 10px;
  border-radius: 8px;
  border-bottom-right-radius: 2px;
  max-width: 90%;
  margin-right: 10px;
  animation: floatup .5s forwards;
  word-wrap: break-word;
}

.botText {
  position: relative;
  color: #000;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
}

.botText span {
  line-height: 1.5em;
  display: inline-block;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 8px;
  border-bottom-left-radius: 2px;
  max-width: 90%;
  margin-left: 10px;
  animation: floatup .5s forwards;
  word-wrap: break-word;
}

@keyframes floatup {
  from {
    transform: translateY(14px);
    opacity: .0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width:600px) {
  .full-chat-block {
    width: 100%;
    border-radius: 0px;
  }

  .chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  .collapsible {
    width: 100%;
    border: 0px;
    border-top: 3px solid white;
    border-radius: 0px;
  }
}

@media screen and (orientation: landscape) {
  .input-box {
    height: 50px;
  }
}

@media screen and (orientation: landscape) and (max-width: 992px) {
  #mainNav {
    display: none;
  }

  .full-chat-block {
    height: 100vh;
    top: 0;
  }

  .title-chat-container {
    height: 100vh;
    top: 0;
  }
}

/*
.pdf-link {
  position: absolute;
  bottom: -5px;
  color: red;
  right: 60px;
  cursor: pointer; 
}*/
.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  animation: dot 1.4s infinite;
}

.dot:nth-child(1) { animation-delay: 0.2s; }
.dot:nth-child(2) { animation-delay: 0.4s; }
.dot:nth-child(3) { animation-delay: 0.6s; }

@keyframes dot {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
  50% { background-color: #888; }
}

/*Elemtos de pregunta emparejamiento*/
.arrastrable, .objetivo {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
}

.contenedor {
  display: inline-block;
  flex-wrap: wrap;
}


