:root{
  --color-primario: #e0c08d;
  --color-secundario: #8eaade;
  --color-terceario: #6b756d;
  --color-fondo: white;
}


/*--- Estilo de navbar --- */
#mainNav.navbar-shrink {
    background-color: var(--color-terceario);
  }
  
  #mainNav.navbar-shrink .navbar-brand,
  #mainNav.navbar-shrink .nav-link {
    color: var(--color-fondo);
  }
  
  #mainNav {
    transition: top 0.3s;
    position: fixed;
    top: -100px;
    width: 100%;
    height: 8%;
  }
  
  .navbar a {
    color: var(--color-fondo);
    text-decoration: none;
  }
  .navbar .link-inicio{
    position: absolute;
    left: 8%;
  }
  .navbar a:hover {
    color: var(--color-fondo);
  }
  
  .navbar li {
    margin: 10px;
    text-align: center;
    font-size: 25px;
  }
  
  .navbar-nav {
    width: 100%;
    justify-content: space-between;
  }
  
  .text-center {
    color: var(--color-fondo);
  }
  
  .btn {
    height: 70px;
    width: 70px;
    background-color: transparent; 
    font-family: var(--font-title);
    border: none;
  }
  
  .btn-primary {
    text-align: center;
  }
  .btn:hover{
    border: none;
    background-color: transparent; 
  }
  
  
  .navbar-brand {
    position: absolute;
    height: 100%;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-brand img {
    max-width: 100%;
    max-height: 100%;
  }
  
  
  /*tamano a dispositivos*/
  
  @media (max-width: 932px) and (min-width: 320px) {
    .navbar .navbar-brand {
      flex-shrink: 0; 
    }
    .navbar .navbar-collapse {
      width: 100%;
      overflow: auto; 
      white-space: nowrap; 
    }
    .navbar .navbar-nav {
      flex-direction: row; 
    }
    .navbar .nav-item {
      display: inline-block; 
    }
    .navbar-brand img {
      width: 60px; 
      height: 60px; 
    }
  
    #mainNav {
      height: 15%; 
    }
    .navbar .link-inicio{
      position: absolute;
      left: 10%;
    }
    
  }
  
  @media (max-width: 430px) and (min-width: 320px) {
    
    #mainNav {
      transition: top 0.3s;
      position: fixed;
      top: -100px;
      width: 100%;
      height: 8%;
    }
    
    .navbar .nav-item a {
      font-size: 20px; 
    }
    .navbar .bi-person-circle {
      width: 30px; 
      height: 30px; 
    }
    .navbar-brand img {
      width: 50px; 
      height: 50px; 
    }
    .navbar .link-inicio{
      position: absolute;
      left: 15%;
    }
  }