:root {
  --font-title: chalkdust;
}


@font-face {
  font-family: chalkdust;
  src: url(../fonts/Cafe24Decoschool.ttf);
}

/*--- Estilo del Masthead --- */
.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/Pizarra.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
}

.masthead h1,
.masthead .h1 {
  font-family: var(--font-title);
  font-size: 18rem !important;
  /* Ajusta este valor según tus necesidades */
  line-height: 18rem !important;
  /* Ajusta este valor según tus necesidades */
  letter-spacing: 0.8rem;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
}

.letraM {
  color: #e0c08d;
}

.letraAI {
  color: #8eaade;
}

.masthead hr {
  color: white;
  height: 30px;
}

@media (min-width: 320px) and (max-width: 600px) {

  .masthead h1,
  .masthead .h1 {
    font-size: 5rem !important;
    line-height: 5rem !important;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {

  .masthead h1,
  .masthead .h1 {
    font-size: 7rem !important;
    line-height: 7rem !important;
  }
}

/* Estilos para el botón */
.boton-siguiente {
  position: relative;
    top: 11rem;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.boton-siguiente:hover {
  background-color: #0056b3;

}
@media (min-width: 320px) and (max-width: 834px) {
  .boton-siguiente {
      top: 0rem; /* Ajusta la posición vertical según tus preferencias */
      padding: 5px 10px;
      font-size: 14;
  }
  .project-text h4{
    font-size: 14px;
  }
}

/*Edicion de utilizar */
.ti {
  border: 2px solid black;
  background-color: transparent;
  margin: 50px;
}

.ti h3 {
  position: relative;
  width: 35%;
  font-size: 3vw;
  background-color: #fffdfd;
  border: 2px solid black;
  top: -40px;
  left: 50px;
  color: #000000;
}

.ti h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.content-video {
  width: 96%;
  display: flex;
  border-radius: 20px;
  background-color: #136618;
  height: 500px;
  margin: 30px auto;
}

.content-text-video {
  color: #ddd;
  display: block;
  text-align: justify;
  font-size: 1.5vw;
  width: 30%;
  height: 30%;
  margin: 1% auto;
}

.video h1 {
  font-size: 2.5vw;
  text-align: center;
  color: white;
}

.video {
  margin: 30px auto auto;
}

/*Footer*/
.pie {
  background-color: #333;
  color: white;
  display: flex;
  top: 30px;
  margin: 30px auto auto;
}

@media (max-width: 768px) {
  .ti h3 {
    font-size: 30px;
    width: 70%;
    left: 15px;
  }

  .content-video {
    flex-direction: column;
    height: auto;
  }

  .content-text-video {
    color: #ddd;
    display: block;
    text-align: justify;
    font-size: 20px;
    width: 90%;
    height: 70%;
    margin: 10px auto;
    overflow: auto;
  }

  .video h1 {
    font-size: 30px;
  }

  .video iframe {
    width: 100%;
    height: auto;
  }

  .pie {
    flex-direction: column;
  }
}

@media (max-width: 1080px) {
  .content-text-video {
    font-size: 25px;
    width: 43%;
    height: 40%;
  }

  .video iframe {
    width: 100%;
    /* Ajusta este valor según tus necesidades */
    height: auto;
  }
}