


/* Navbar */
#mainNav {
  background-color:  #6b756d;
  transition: top 0.3s;
  position: fixed;
  width: 100%;
  height: 8%;
}

#mainNav.navbar-shrink .navbar-brand,
#mainNav.navbar-shrink .nav-link {
  color: aliceblue;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: white;
}

.navbar li {
  margin: 10px;
  text-align: center;
  font-size: 25px;
}

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.text-center {
  color: white;
}

@media (max-width: 320px) {
  .navbar .nav-item a {
    font-size: 20px;
  }
}

/* Content */
.edit{
margin-top: 6%;
background-color: rgba(87, 77, 77, 0.6);
height: 150px;
font-style: italic;
}

.edit h1 {
  position: relative;
  top: 10%;
  font-size: 90px;
  text-align: center;
  color: white;
}

.contenido_examen {
  padding: 1.5rem;
  max-width: 60rem;
  width: 100%;
  background-color: white;
  border-radius: 2rem;
  margin: 4rem auto;
  box-shadow:
      rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;

}
.contenido_examen h1{
  margin-bottom: 1.5rem;
  font-size: 4rem;
  display: flex;
  color: rgb(60, 59, 59);
  gap: 0.25rem;
  justify-content: center;
}

#stocks {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.pregunta {
  position: relative;
  z-index: 1;
  min-height: 3.75rem;
  display: block;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  padding: 1rem;
  align-items: center;
  background-color: var(--white);
  box-shadow:
      rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
}

.pregunta:hover{
  cursor: grab;
}