/* Navbar */
#mainNav {
    background-color: #6b756d;
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    height: 8%;
  }
  
  #mainNav.navbar-shrink .navbar-brand,
  #mainNav.navbar-shrink .nav-link {
    color: aliceblue;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: white;
  }
  
  .navbar li {
    margin: 10px;
    text-align: center;
    font-size: 25px;
  }
  
  .navbar-nav {
    width: 100%;
    justify-content: space-between;
  }
  
  .text-center {
    color: white;
  }
  
  @media (max-width: 320px) {
    .navbar .nav-item a {
      font-size: 20px;
    }
  }