

{% block 'meta' %}
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock 'meta' %}

{% block 'titulo' %}Generador Examenes{% endblock 'titulo' %}

{% block 'styles' %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static "css\style_home.css" %}">
<!--<link rel="stylesheet" href="{% static "css\estilo_chat.css" %}">-->
<link rel="stylesheet" href="/static/css/estilo_chat.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock 'styles' %}

{% block 'contenido_main' %}
<div id="wrap" class="input">
  <header class="input-header">
    <h1>¡Bienvenido a MAI!</h1>
  </header>
  <section class="input-content">
    <h2>MAI te ayuda a generar exámenes</h2>
    <div class="input-content-wrap">
      <dl class="inputbox">
        <dt class="inputbox-title">Tema del examen</dt>
        <dd class="inputbox-content">
          <input id="input0 tema" type="text" required list="temas-list">
          <label for="input0">Tema</label>
          <span class="underline"></span>
          <datalist id="temas-list">
            <option value="Matemáticas">Matemáticas</option>
            <option value="Español">Español</option>
            <!-- Agrega más opciones según tus necesidades -->
          </datalist>
        </dd>
      </dl>
      
      <dl class="inputbox">
        <dt class="inputbox-title">Grado aplicar el examen</dt>
        <dd class="inputbox-content">
          <input id="input1 grado" type="text" required list="password-options">
          <label for="input1">Grado</label>
          <span class="underline"></span>
          <datalist id="password-options">
            <option value="Primero">Primero de primaria</option>
            <option value="Segundo">Segundo de primaria</option>
            <!-- Agrega más opciones según tus preferencias -->
          </datalist>
        </dd>
      </dl>
      <div class="tipo-preguntas">
        <h1>Tipos de preguntas:</h1>
        <div class="preguntas">
          <span>
            <label for="state">Opcion multiple</label>
            <input class="balloon" id="state opc_mul" type="number" min="0" value="0" />
          </span>
          <span>
            <label for="state">Verdadero o falso</label>
            <input class="balloon" id="state ver_fal" type="number" min="0" value="0" />
          </span>
          <span>
            <label for="state">Respuesta corta</label>
            <input class="balloon" id="state res_cor" type="number" min="0" value="0" />
          </span>
          <span>
            <label for="state">Emparejamiento</label>
            <input class="balloon" id="state emp" type="number" min="0" value="0" />
          </span>
          <span>
            <label for="state">Respuesta numerica</label>
            <input class="balloon" id="state res_num" type="number" min="0" value="0" />
          </span>
          <span>
            <label for="state">Respuesta larga</label>
            <input class="balloon" id="state res_lar" type="number" min="0" value="0" />
          </span>
          <span>
            <label for="state">Seleccion multiple</label>
            <input class="balloon" id="state sel_mul" type="number" min="0" value="0" />
          </span>
          <span>
            <label for="state">Rellenar espacios</label>
            <input class="balloon" id="state rel_esp" type="number" min="0" value="0" />
          </span>
        </div>
        <div class="contador-preguntas" id="contador-preguntas">Cantidad de preguntas: 0</div>
      </div>
      
      <div class="btns">
         <a href="{% url "index" %}"> <button class="btn btn-cancel" id="generar_examne">Atras</button></a>
          <button class="btn btn-confirm">Generar Examen</button>
      </div>
    </div>
  </section>
</div>
{% endblock 'contenido_main' %}


{% block 'scripts' %}
<script>
  function checkInput(input) {
    if (input.value.length > 0) {
      input.classList.add('has-value');
    } else {
      input.classList.remove('has-value');
    }
  }

  function validateInput() {
    var quantity = document.getElementById('quantity');
    var value = quantity.value;
    if (isNaN(value) || value < 0) {
      quantity.value = 0;
    }
  }
 // Obtener los elementos de los campos de entrada
 const inputs = document.querySelectorAll('.preguntas input[type="number"]');
 const contador = document.getElementById('contador-preguntas');

 // Inicializar el contador
 let totalPreguntas = 0;

 // Escuchar cambios en los campos de entrada
 inputs.forEach(input => {
     input.addEventListener('input', () => {
         // Calcular la suma total de preguntas
         totalPreguntas = Array.from(inputs).reduce((sum, input) => sum + parseInt(input.value), 0);
         contador.textContent = `Cantidad de preguntas: ${totalPreguntas}`;
     });
 });




</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
<!--<script type="module" src="{% static "js\chat.js" %}"></script>-->
<script type="module" src="../../static/js/chat.js"></script>
<script type="module" src="{% static "js\loadanim.js" %}"></script>
<script type="module" src="{% static "js\htmlconvertere.js" %}"></script>
<script type="module" src="{% static "js\ventanaf" %}"></script>
{% endblock 'scripts' %}