{% extends "layout/base.html" %}

{% block 'meta' %}
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock 'meta' %}

{% block 'titulo' %}Chat{% endblock 'titulo' %}

{% block 'styles' %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static "css\style_home.css" %}">
<!--<link rel="stylesheet" href="{% static "css\estilo_chat.css" %}">-->
<link rel="stylesheet" href="/static/css/estilo_chat.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock 'styles' %}

{% block 'contenido_main' %}
<div class="principal">
  <form>

    <div class="tema">
      <div class="form__group">
        <input type="list" id="nombre" list="materias" name="nombre" class="form__field" required
          oninput="checkInput(this)">
        <label for="nombre" class="form__label">Tema</label>
        <datalist id="materias">
          <option data-value=""="Matematicas">Matemáticas</option>
          <option data-value="Español">Español</option>
        </datalist>
      </div>
    </div>
    
    <div class="tipo-preguntas">
      <h1>Tipos de preguntas:</h1>
      <div class="preguntas">
        <span>
          <input class="balloon" id="state" type="number" min="0" value="0" /><label for="state">preguntas1</label>
        </span>
        <span>
          <input class="balloon" id="state" type="number" min="0" value="0" /><label for="state">preguntas2</label>
        </span>
        <span>
          <input class="balloon" id="state" type="number" min="0" value="0" /><label for="state">preguntas3</label>
        </span>
        <span>
          <input class="balloon" id="state" type="number" min="0" value="0" /><label for="state">preguntas4</label>
        </span>
        <span>
          <input class="balloon" id="state" type="number" min="0" value="0" /><label for="state">preguntas5</label>
        </span>
        <span>
          <input class="balloon" id="state" type="number" min="0" value="0" /><label for="state">preguntas6</label>
        </span>
        <span>
          <input class="balloon" id="state" type="number" min="0" value="0" /><label for="state">preguntas7</label>
        </span>
        <span>
          <input class="balloon" id="state" type="number" min="0" value="0" /><label for="state">preguntas8</label>
        </span>
      </div>
    </div>

      <div class="form__group">
        <input type="text" id="grado" name="grado" class="form__field" required oninput="checkInput(this)">
        <label for="grado" class="form__label">¿A qué grado se les aplicara el examen?</label>
      </div>
  </form>
</div>
{% endblock 'contenido_main' %}


{% block 'scripts' %}
<script>
  function checkInput(input) {
    if (input.value.length > 0) {
      input.classList.add('has-value');
    } else {
      input.classList.remove('has-value');
    }
  }

  function validateInput() {
    var quantity = document.getElementById('quantity');
    var value = quantity.value;
    if (isNaN(value) || value < 0) {
      quantity.value = 0;
    }
  }





</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
<!--<script type="module" src="{% static "js\chat.js" %}"></script>-->
<script type="module" src="../../static/js/chat.js"></script>
<script type="module" src="{% static "js\loadanim.js" %}"></script>
<script type="module" src="{% static "js\htmlconvertere.js" %}"></script>
<script type="module" src="{% static "js\ventanaf" %}"></script>
{% endblock 'scripts' %}