{% extends "layout/base.html" %}
{% block 'styles' %}
{% load static %}
<link rel="stylesheet" href="/static/css/estilo_editor.css">
{% endblock 'styles' %}
{% block 'titulo' %}Edicion de examen{% endblock 'titulo' %}

{% block 'contenido_main' %}
<div class="edit">
    <h1>E D I T O R</h1>
    <div class="contenido_examen examen">
        <!-- Aquí se renderiza cada pregunta como HTML seguro -->
        {% for question in questions %}
        <div  class="pregunta-estilo">
            <div class="titulo-instruccion">
                {{ question.text|safe }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock 'contenido_main' %}

{% block 'scripts' %}
<!-- Aquí <script type="module" src="{% static "js/editar.js" %}"></script>-->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script type="module" src="../../static/js/editar.js"></script>
{% endblock 'scripts' %}

